#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}
#modal .card {
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#modal .modal-box {
	position: relative;
	width: min(500px, 100% - 2rem);
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	min-height: 300px;
}
#modal #close-modal {
	position: absolute;
	display: grid;
	place-items: center;
	width: 50px;
	height: 50px;
	top: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0.6;
}
#modal #close-modal:hover {
	opacity: 1;
}
#modal.show {
	display: grid;
	place-items: center;
}
